@{
    ViewData["Title"] = "Home Page";
}
<div class="clearfix"></div>
<section class="contentblock">
    <div class="container">
        <div class="row whitebackground">
            <div class="col-sm-12">
                <div class="heading1">
                    <h3><span>VPC ELECTRICITY POLICY</span><div class="line2"></div></h3>
                </div>

            </div>
            <div class="col-12"><h3 class="color-grey"><span>APPENDIX A</span></h3></div>
            <div class="col-sm-8"><h4 class="bacground-grey"><span>OPERATING COMPANY</span></h4></div>
            <div class="col-sm-4"><h4 class="bacground-orange"><span>VFCZ</span></h4></div>
            <div class="col-sm-8 color-orange">
                <div class="col-sm-8></div>
                    <div class="col-sm-4 text-right>
                        <h6><span>REPORTING PERIOD:</span></h6>
                    </div>
                </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-4 heading1"><h6>30 June 13</h6></div>
                    <div class="col-4 heading1"><h6>30 Nov 13</h6></div>
                    <div class="col-4 heading1"><h6>31 Dec 13</h6></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row whitebackground">
            <div class="col-sm-12">
                <div class="heading1">
                    <h3><span>FORECASTING CONSUMPTION</span><div class="line2"></div></h3>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row whitebackground">
            <div class="col-sm-12">
                <div class="heading1">
                    <h3><span>YEAR-AHEAD FIXINGS</span><div class="line2"></div></h3>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row whitebackground">
            <div class="col-sm-12">
                <div class="heading1">
                    <h3><span>YEAR BEYOND YEAR AHEAD FIXINGS</span><div class="line2"></div></h3>
                </div>

            </div>
        </div>
    </div>
</section>




@*<section class="contentblock1">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="valuebox"> Position <span>2,228,164 EUR </span> </div>
            </div>
            <div class="col-sm-6">
                <div class="valuebox"> Value at Risk <span>46,846 EUR</span> </div>
            </div>
        </div>
    </div>
</section>



<section class="contentblock">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="itemblock">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="heading1">
                                <h3><span>FORECASTED AND FIXED VOLUMES, MWh</span></h3>
                            </div>
                            <aside class="chartbox"> <img class="img-responsive" src="images/assets/graph1.jpg"> </aside>
                        </div>
                        <div class="col-sm-12 text-center">
                            <button class="btn orgbtn showdetail bluebtn">Show Details <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="itemblock">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="heading1">
                                <h3><span>MARKET TO MARKET POSITION</span></h3>
                            </div>
                            <aside class="chartbox"> <img class="img-responsive" src="images/assets/graph2.jpg"> </aside>
                        </div>
                        <div class="col-sm-12 text-center">
                            <button class="btn orgbtn showdetail bluebtn">Show Details <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contentblock">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="itemblock">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="heading1">
                                <h3><span>GENERAL OVERVIEW</span></h3>
                            </div>
                            <aside class="chartbox datatable">
                                <table id="rt1" class="rt cf">
                                    <thead class="cf">
                                        <tr>
                                            <th style="color:#ffffff;">Months</th>
                                            <th>Jan16 <i class="fa fa-angle-down"></i></th>
                                            <th>Feb16 <i class="fa fa-angle-down"></i></th>
                                            <th>Mar16 <i class="fa fa-angle-down"></i></th>
                                            <th>Apr16 <i class="fa fa-angle-down"></i></th>
                                            <th>Jan16 <i class="fa fa-angle-down"></i></th>
                                            <th>Feb16 <i class="fa fa-angle-down"></i></th>
                                            <th>Mar16 <i class="fa fa-angle-down"></i></th>
                                            <th>Apr16 <i class="fa fa-angle-down"></i></th>
                                            <th>Jan16 <i class="fa fa-angle-down"></i></th>
                                            <th>Feb16 <i class="fa fa-angle-down"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="bg1">
                                                <div class="datebox">
                                                    <input type="text" value="2015 - 01- 13">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1">Fixed Volume in MWh</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1"> Fixed Volume in %</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1">Fixed Price, EUR/MWh: <span>Italy Year Base</span></td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="bg1">
                                                <div class="datebox">
                                                    <input type="text" value="2015 - 01- 13">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1">Fixed Volume in MWh</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1"> Fixed Volume in %</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1">Fixed Price, EUR/MWh: <span>Italy Year Base</span></td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="bg1">
                                                <div class="datebox">
                                                    <input type="text" value="2015 - 01- 13">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1">Fixed Volume in MWh</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1"> Fixed Volume in %</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1">Fixed Price, EUR/MWh: <span>Italy Year Base</span></td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="linedivider" colspan="25"></td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="bg1">
                                                <div class="datebox">
                                                    <input type="text" value="2015 - 01- 13">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1">Fixed Volume in MWh</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1"> Fixed Volume in %</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1">Fixed Price, EUR/MWh: <span>Italy Year Base</span></td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td class="bg1">
                                                <div class="datebox">
                                                    <input type="text" value="2015 - 01- 13">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1">Fixed Volume in MWh</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                            <td>620</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1"> Fixed Volume in %</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                            <td>20</td>
                                        </tr>
                                        <tr>
                                            <td class="bg1">Fixed Price, EUR/MWh: <span>Italy Year Base</span></td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                            <td>40.33</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </aside>
                        </div>
                        <div class="col-sm-12 text-center">
                            <button class="btn orgbtn showdetail bluebtn">Show Details <i class="fa fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
