@{
    ViewData["Title"] = "Home Page";
}
<section class="contentblock">
    <div class="container">
        <div class="whitebackground">
            <div class="col-sm-12">
                <div class="heading1">
                    <h3><span><b>VPC ELECTRICITY POLICY</b></span><div class="line2"></div></h3>
                </div>
            </div>
            <div class="col-sm-12"><h3 class="color-grey"><span><b>APPENDIX A</b></span></h3></div>
            <div class="row col-sm-12">
                <div class="col-sm-8"><h4 class="bacground-grey"><span><b>OPERATING COMPANY</b></span></h4></div>
                <div class="col-sm-4"><h4 class="bacground-orange"><span>VFCZ</span></h4></div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <h5 class="yelou-greed color-orange "><span><b>REPORTING PERIOD:</b></span></h5>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="pb0 col-sm-4">
                            <div class="col-sm-12 wbc"><b>30 June 13</b></div>
                            <div class="col-sm-12 wbc"><b>1</b></div>
                        </div>
                        <div class="pb0 col-sm-4">
                            <div class="col-sm-12 wbc"><b>30 Nov 13</b></div>
                            <div class="col-sm-12 wbc"><b>1</b></div>
                        </div>
                        <div class="pb0 col-sm-4">
                            <div class="col-sm-12 wbc"><b>31 Dec 13</b></div>
                            <div class="col-sm-12 wbc"><b>1</b></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    
                </div>

                <div class="col-sm-4">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row col-xl-12 col-sm-12 col-md-12 col-lg-8 pb0">
                    <div class="col-sm-12 wbc1"></div>
                    <div class="col-sm-9 pb0">
                        <div class="col-sm-12 bbc"><b>High electricity prices using historical volatility</b></div>                       
                    </div>
                    <div class="col-sm-3 pb0">
                        <div class="col-sm-12 ybc"><b>|</b></div>                        
                    </div>
                    <div class="col-sm-12 clear"></div>
                    <div class="col-sm-9 pb0">
                        <div class="col-sm-12 bbc"><b>Medium electricity prices using historical volatility</b></div>
                    </div>
                    <div class="col-sm-3 pb0">
                        <div class="col-sm-12 ybc"><b>|</b></div>
                    </div>
                    <div class="col-sm-12 clear"></div>
                    <div class="col-sm-9 pb0">
                        <div class="col-sm-12 bbc"><b>Low electricity prices using historical volatility</b></div>
                    </div>
                    <div class="col-sm-3 pb0">
                        <div class="col-sm-12 ybc"><b>|</b></div>
                    </div>
                    <div class="col-sm-12 clear"></div>
                    <div class="col-sm-9 pb0">
                        <div class="col-sm-12 bbc"><b>Ultra-low electricity prices using historical volatility</b></div>
                    </div>
                    <div class="col-sm-3 pb0">
                        <div class="col-sm-12 ybc"><b>|</b></div>
                    </div>
                    <div class="col-sm-12 clear"></div>
                    <div class="col-sm-9 pb0">
                        <div class="col-sm-12 bbc"><b>Lowest price during reporting period</b></div>
                    </div>
                    <div class="col-sm-3 pb0">
                        <div class="col-sm-12 ybc"><b>|</b></div>
                    </div>
                   
                        <div class="col-sm-12  bbc col-md-4 pb0">
                            <div class="col-sm-12 nclear">Prices were (tick one box)</div>
                        </div>

                        <div class="col-sm-6 col-md-2 pb0">
                            <div class="wbc">
                                <div class="col-sm-12 nclear pb0">High</div>
                            </div>
                            <div class="ybc">
                                <div class="col-sm-12 nclear pb0">|</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 pb0">
                            <div class="wbc">
                                <div class="col-sm-12 nclear pb0">Medium</div>
                            </div>
                            <div class="ybc">
                                <div class="col-sm-12 nclear pb0">|</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 pb0">
                            <div class="wbc">
                                <div class="col-sm-12 nclear pb0">Low</div>
                            </div>
                            <div class="ybc">
                                <div class="col-sm-12 nclear pb0">|</div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 pb0">
                            <div class="wbc">
                                <div class="col-sm-12 nclear pb0">Ultra-low</div>
                            </div>
                            <div class="ybc">
                                <div class="col-sm-12 nclear pb0">|</div>
                            </div>
                        </div>
                   
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="container">
            <div class="row whitebackground">
                <div class="col-sm-12 ">
                    <div class="heading1">
                        <h4><span><b>FORECASTING CONSUMPTION</b></span><div class="line2"></div></h4>
                    </div>
                    <div class="row col-xl-12 col-sm-12 col-md-12 col-lg-8 pb0">
                        <div class="col-sm-12 wbc1"></div>
                        <div class="col-sm-6-hiden col-md-3 pb0">
                            <div class="pb0 col-sm-12"><b></b></div>
                            <div class="pb0 col-sm-12"><b></b></div>
                        </div>
                        <div class="col-sm-6 col-md-3 pb0">
                            <div class="pb0  col-sm-12 wbc"><b>LW</b></div>
                            <div class="pb0  col-sm-12 ybc"><b>|</b></div>
                        </div>
                        <div class="col-sm-6 col-md-3 pb0">
                            <div class="pb0  col-sm-12 wbc"><b>MW</b></div>
                            <div class="pb0  col-sm-12 ybc"><b>|</b></div>
                        </div>
                        <div class="col-sm-6-hiden col-md-3 pb0">
                            <div class="pb0 col-sm-12"><b></b></div>
                            <div class="pb0 col-sm-12"><b></b></div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row whitebackground">
                <div class="col-sm-12">
                    <div class="heading1">
                        <h4><span><b>YEAR-AHEAD FIXINGS</b></span><div class="line2"></div></h4>
                    </div>

                    <div class="row col-xl-12 col-sm-12 col-md-12 col-lg-8 pb0">
                        <div class="col-sm-12 wbc1"></div>
                        <div class="col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>Price fixed</b></div>
                            <div class="col-sm-12 ybc"><b>|</b></div>
                        </div>
                        <div class="col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>LW</b></div>
                            <div class="col-sm-12 ybc"><b>% of FC</b></div>
                        </div>
                        <div class="col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>MW</b></div>
                            <div class="col-sm-12 ybc"><b>% of FC</b></div>
                        </div>
                        <div class="col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>Policy compliant</b></div>
                            <div class="col-sm-12 ybc"><b>Yes/No</b></div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row whitebackground">
                <div class="col-sm-12">
                    <div class="heading1">
                        <h4><span><b>YEAR BEYOND YEAR AHEAD FIXINGS</b></span><div class="line2"></div></h4>
                    </div>
                    <div class="row col-xl-12 col-sm-12 col-md-12 col-lg-8 pb0">
                        <div class="col-sm-12 wbc1"></div>
                        <div class="col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>Price fixed</b></div>
                            <div class="col-sm-12 ybc"><b>|</b></div>
                        </div>
                        <div class="col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12"><b></b></div>
                            <div class="col-sm-12"><b></b></div>
                        </div>
                        <div class="col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>MW</b></div>
                            <div class="col-sm-12 ybc"><b>% of FC</b></div>
                        </div>
                        <div class="col-sm-6 col-md-3 pb0">
                            <div class="col-sm-12 wbc"><b>Policy compliant</b></div>
                            <div class="col-sm-12 ybc"><b>Yes/No</b></div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</section>
