body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgb(225,233,236);
}
.body-content {
    padding-top: 20px;
}
#header {
	background: #fff;
}
#header .topcontact {
	background: #f1f1f1;
	border-radius: 5px;
	font: 14px/18px "montserratregular", Arial, sans-serif;
	color: #0a070b;
}
#header .topcontact i {
	color: #bcbcc4;
	font-size: 18px;
	margin-right: 5px;
	vertical-align: top;
}
#header .topcontact a {
	color: #0a070b;
}
#header .accountmanager img {
    border-radius: 5px;
	margin: 20px 0px 20px 0px;
    left: 10px;
    text-align: center
}
#header .accountmanager a {
color: #70A8D9;
}
.logo {
	margin: 25px;
}
.logo img {
  display: block;
  max-height: 60px;
  width: auto;
  text-align: center
}
.pb0{
    padding: 0px !important;
    border-top-left-radius: 0px !important; 
    border-top-right-radius: 0px !important;
    margin-left: 0px;
}
.clear {
    border-color:white;
    z-index: 0;
}
.nclear{
    z-index: 1;
}
.heading1 {
	position: relative;
}
.heading1 span {
	border-bottom: 2px solid #ff9900;
bottom: -3px;
position: relative;
z-index: 2;
}
.whitebackground{
    background-color:white;
    margin-bottom: 20px;
    padding: 20px 40px 20px 40px;
}
.line2{
    border-bottom: 2px solid rgb(191,191,191);   
    bottom: -6px; 
    position:relative;
}
.color-grey{
    color:rgb(191,191,191);
    padding: 0px 0px 15px 0px;
}
.bacground-grey{
    color:white;
    padding: 10px 0px 10px 10px;
    background-color: rgb(89,89,89);
}
.bacground-orange{
    color:white;
    padding: 10px 0px 10px 10px;
    background-color: rgb(237,125,49);
}
.color-orange{
    color:orangered;
    text-align:right;
    vertical-align:top;
}

.yelou-greed{
    color: rgb(237,125,49);
    text-align:right;
    vertical-align:top;
}
.blue-greed{
    color:orangered;
    text-align:right;
    vertical-align:top;
}
.wbc {
    line-height: 20px;
    border: 1px solid rgb(217,217,217);
    text-align:center;
    background-color: rgb(255,255,255);
    padding: 0px;
}
.wbc1 {
    text-decoration-color: white;
    height: 20px;
    text-align:center;
    background-color: rgb(255,255,255);
    padding: 0px;
}
.wbc2 {
    line-height: 20px;
    border: 1px solid rgb(217,217,217);
    text-align:center;
    background-color: rgb(255,255,255);
    color: rgb(89,89,89);
    padding: 0px;
}
.ybc {
    line-height: 20px;
    border: 1px solid rgb(217,217,217);
    text-align:center;
    color: rgb(128,128,128);
    background-color: rgb(253,226,215);
    padding: 0px;
}
.bbc {
    line-height: 20px;
    border: 1px solid rgb(217,217,217);
    background-color: rgb(225,233,236);
    padding: 0px 5px 0px 5px;
}
.gbc {
    line-height: 20px;
    border: 1px solid rgb(217,217,217);
    background-color: rgb(242,242,242);
    color: rgb(128,128,128);
    padding: 0px;
    text-align:center;
}
.bbc1 {
    padding: 0px 5px 0px 5px;
}
.h25{
    height: 25px;
}
.wma {
	margin: 25px 0px 20px 0px;
    left: 10px;
    text-align: center
}
@media screen and (max-width:767px) {
    .fd {
        display: none;
    }
}
@media screen and (max-width:767px) {
    .fb {
        padding:0;
    }
}
@media screen and (min-width:768px) {
    .fb {
        padding: 0px 5px 0px 0px
    }
}
@media screen and (min-width:768px) {
    .fi {
        padding: 0px 0px 0px 15px !important;
    }
}
@media screen and (max-width:767px) {
    .fp{
        padding-left:60px;
    }
}
.add_comment {
display: block;
transform: rotate(270deg);
padding: 3px 3px 0px 3px;
position: fixed;
left: -60px;
top: 30%;
z-index: 99999;
border-top: 10px solid #ff9900;
}